[2020-08-12 09:06] shikha-16 opened #2 "We need more resources in the different fields in CS"
Please feel free to link resources in the same format as given. It would help greatly!

[2020-09-04 07:04] shikha-16 opened #3 "More resources are always welcome!!"
If you find anything interesting that you think should be on this list, feel free to create a pull request and add them.
Apart from that, I would like someone to really take up this issue and go looking for some resources that we can add here.
You can refer [Awesome Lists](https://github.com/sindresorhus/awesome) and suggest changes here as well. You could also add your own subtopic. Let's make th

[2020-09-04 07:06] shikha-16 opened #4 "Formatting"
If anyone here is an expert on markdown styling, please take up this issue to make this repo look good. A good-looking repo attracts more people to its usefulness!

[2020-09-04 07:06] shikha-16 opened #5 "Any ideas are welcome!"

[2020-09-04 07:06] #2 closed, assigned to nobody

[2020-09-05 16:17] shikha-16 commented on #4
Would also appreciate if someone could make the links open in a new tab instead of the existing one.

[2020-09-05 16:17] shikha-16 opened #6 "Discord Channel Bot"
Any number of bots can be suggested for community management. To prevent haters, use of bad words, etc. to make sure the commuity is safe!

[2020-09-06 08:12] arvind-iyer-2001 commented on #6
I recommend using MEE6 bot as a moderator for the Discord Server - Women in Technology.
Visit the link to know more [https://mee6.xyz/](url)

[2020-09-06 08:52] shikha-16 commented on #6
Thank you!

[2020-09-06 16:53] shikha-16 opened #7 "Website for this repo"
If anyone is willing to make a website out of this repository, that would be great!

[2020-09-06 16:57] umang-sinha commented on #7
I would like to take this up

[2020-09-07 09:38] lucid-dreem commented on #4
I could help out with this!

[2020-09-07 09:49] shikha-16 commented on #4
That's great @lucid-dreem ! Do tell me what you plan to do! I'll assign this issue to you.

[2020-09-07 09:49] shikha-16 commented on #7
@umang-sinha do communicate your ideas here!

[2020-09-07 10:43] SudeepaNoble commented on #7
For the scholarship section, connect to the previous scholars and ask them to give tips. It would be helpful for the viewers/aspirants.

I think my article for WTM Scholarship helps.
It's [here](https://medium.com/@sudeepa.kolli/google-wtm-apac-scholarship-2020-9dabe5ddf052
[wtmdoc.docx](https://github.com/shikha-16/Women-in-Technology/files/5182629/wtmdoc.docx)
).

[2020-09-07 10:47] shikha-16 commented on #7
Hi @SudeepaNoble
While I appreciate your suggestion, going forward please post in the issues section which asks for ideas. We can address it there.
This thread is for the website discussion only.

[2020-09-07 10:49] SudeepaNoble opened #8 "Previous Scholars tips helps Aspirants."
For the scholarship section, connect to the previous scholars and ask them to give tips. It would be helpful for the viewers/aspirants.

I think my article for *WTM Scholarship* helps.
(https://medium.com/@sudeepa.kolli/google-wtm-apac-scholarship-2020-9dabe5ddf052).

[wtmdoc.docx](https://github.com/shikha-16/Women-in-Technology/files/5182633/wtmdoc.docx)

[2020-09-07 10:53] shikha-16 commented on #8
@SudeepaNoble That's a great idea. Would you like to take up this issue?
You could create a separate page for the scholar's medium articles and link it to the original README.md

[2020-09-07 10:58] #6 closed

[2020-09-07 13:19] SudeepaNoble commented on #8
Sure, I'll do that!

[2020-09-15 06:09] #4 closed

[2020-09-15 06:10] shikha-16 commented on #4
Great work! @lucid-dreem
Thank you for contributing! 😄

[2020-09-18 07:08] #8 closed

[2020-09-22 14:33] #7 closed

[2020-09-22 14:44] umang-sinha opened #14 "Need a logo for the website."
A small logo for the website is required. The logo will be displayed in the top navigation bar. Please check out the design in the following link to get an idea about the theme of the website:

https://www.figma.com/file/zsYoyOajOsYONxlPdNLiSf/Women-in-Technology?node-id=2%3A1

[2020-09-22 14:48] umang-sinha opened #15 "Enhancements for the website design needed"
The design for the website is in the initial phase of development. Do suggest changes if you have better ideas to further enhance the theme or the color palette. Check out the design here:

https://www.figma.com/file/zsYoyOajOsYONxlPdNLiSf/Women-in-Technology?node-id=2%3A1 (feel free to ask for edit access to the figma project if you are willing to work on the design)

[2020-09-23 04:23] shikha-16 opened #16 "Open to collaborators for women's opportunities abroad!"
If you are interested to contribute in the form of organizations/opportunities/scholarships or events abroad that could be added as maybe a separate page to this repository, that would be amazing! Let's expand the community!

[2020-09-24 21:46] RafaelDavisH commented on #14
Are there any logo prototypes for reference? I'm interested to help with the logo design.

[2020-09-24 23:23] umang-sinha commented on #14
Hey Rafael! I hope you might have gone through the design prototype in the figma link attached in my previous comment to get a feel of the theme that we are looking to build upon. We are looking for a minimalistic logo that pertains to the theme. For reference you might have a look at the logo of these websites:
https://womenintechnology.in/
https://www.womenintechnology.org/

[2020-09-25 02:04] bharati-21 commented on #14
Hello @umang-sinha, if this issue has not been assigned would like to work on this.

Thank you!

[2020-09-25 10:07] shikha-16 commented on #14
@RafaelDavisH please inform if you have gone through the resources and are still interested. Since you commented first, you will be given preference, if not then @bharati-21 can take this issue up.

@bharati-21 @RafaelDavisH also inform if any of you would you be willing to work with @umang-sinha for enhancements in website design, i.e. [this issue](https://github.com/shikha-16/Women-in-Technology

[2020-09-25 13:07] bharati-21 commented on #14
Thank you @shikha-16. Yes, I would like to work on [this issue](https://github.com/shikha-16/Women-in-Technology/issues/15).

[2020-09-25 13:18] shikha-16 commented on #14
hi @bharati-21 great, comment over there and i'll assign it to you

[2020-09-25 13:45] bharati-21 commented on #15
I would like to work on this @umang-sinha @shikha-16.
Please do inform me if I have a deadline! Thank you.

[2020-09-25 14:11] RafaelDavisH commented on #14
Yes, I'm interested in working on this issue and possibly taking a look in the website as well.

[2020-09-25 14:27] RafaelDavisH commented on #14
If assigned to me I'll start asap.

[2020-09-25 14:29] shikha-16 commented on #14
Sure @RafaelDavisH

Do provide a rough idea when you'll be able to complete?

[2020-09-25 14:37] RafaelDavisH commented on #14
I estimate about Saturday or Sunday to some rough drafts. Would this work?

[2020-09-25 14:38] shikha-16 commented on #14
@RafaelDavisH , yes that's great! please provide your timezone for exact details.

Also, website design is of higher priority rn. If you want to be assigned that too (it'll help), please do comment over there as well.
And do join the discord server (given in the repo) for further discussions about issues.

Thank you!

[2020-09-25 14:41] johnnyduo commented on #14
Great

[2020-09-25 14:42] shikha-16 commented on #15
Yes, website design is of the highest priority as of now. We would like it to be done by October 12, 9 PM IST.
Do join the discord server (given in the repo) for further discussion. You'll have to collaborate with @umang-sinha and possible other contributors in this task.

Thank you for choosing to contribute, and welcome to the community!

[2020-09-25 14:45] umang-sinha commented on #15
@bharati-21 please provide the email ID that is linked to your figma account so that I can provide you edit access for the design project. In case you don't have a figma account, I request you to make one.

[2020-09-25 14:48] RafaelDavisH commented on #14
PT - LA California. Okay I'll comment there now.

[2020-09-25 14:57] RafaelDavisH commented on #15
Is there room for one more ? Interested in helping in any way with the website enhancements

[2020-09-25 15:28] bharati-21 commented on #15
Thank you @umang-sinha
My email ID: bharatisharada@gmail.com

[2020-09-25 15:29] bharati-21 commented on #15
Also, please do provide any additional information I should know before starting the enhancement.
Thank you.

[2020-09-25 16:50] umang-sinha commented on #15
@bharati-21 I have provided you edit access to the figma project. You may begin working on the design.

[2020-09-25 16:51] umang-sinha commented on #15
@RafaelDavisH please provide the email ID linked with your figma account so I can provide you access to the figma project.

[2020-09-25 17:05] RafaelDavisH commented on #15
Thinkprintgrafx@gmail.com

[2020-09-25 17:16] umang-sinha commented on #15
@RafaelDavisH I have sent you an invite. Please accept it.

[2020-09-26 07:00] shikha-16 commented on #15
@bharati-21 please join the discord group. There is a meeting scheduled today at 3pm IST. The link is on discord. Please be there.

[2020-09-26 07:27] bharati-21 commented on #15
@shikha-16, yes. I will be there. Thank you!

[2020-09-26 13:19] shikha-16 opened #24 "Looking for wireframe designers for the website"
If you're interested to work on the wire frame design for the website, please comment here.

[2020-09-26 13:30] bekmuradov commented on #24
Hi, I am interested!

[2020-09-28 09:31] tory-brown commented on #24
I'm available to work on the wireframe.

[2020-09-29 13:44] shikha-16 commented on #24
Hi @tory-brown I'm so sorry, this issue has been taken up by two other people already. Would you be interested in working on the actual designing of the website using the wireframes?

[2020-09-29 13:45] shikha-16 opened #27 "Looking for graphic designers for website."
The basic wireframes are complete, we need designers to work on the actual finishing design of the website. If you are experienced in this field, please do contribute! Refer to the wireframes [here](https://github.com/shikha-16/Women-in-Technology/tree/master/documents/wireframes).

- [ ] Homepage
- [ ] Community/About Us
- [ ] Organizations
- [ ] Scholarships
- [ ] Resources
- [x] Inspirations
-

[2020-09-29 14:01] pratheek-shett commented on #14
Hii where to submit my created logo is it applicable for hactoberfest 2020

[2020-09-29 14:39] tory-brown commented on #24
thats ok. yes I would love to

[2020-09-29 16:12] shikha-16 commented on #14
@pratheek-shett I'm sorry, this issue has already been taken up by Rafael. Check out the issues that haven't been assigned to anyone yet, if you still wish to contribute. Thank you.

[2020-09-29 16:20] pratheek-shett commented on #14
I can I pull or push the logo to github

On Tue 29 Sep, 2020, 9:42 PM Shikha Bhat, <notifications@github.com> wrote:

[2020-09-29 16:39] shikha-16 commented on #24
Please go through Contributing.md, comment on the relevant issue and join the discord server for the same. Thank you!

[2020-09-29 17:59] tory-brown commented on #24
ok

[2020-09-29 19:46] wannabehacker007 commented on #5
Hey Shikha, could you please assign me this issue. Actually, I think I can contribute to all your issues! This repository is a god-sent. I've been trying to find something suitable for my first PR and this place is a goldmine! I'm Shrita btw. :))

[2020-09-29 19:48] wannabehacker007 commented on #14
I can be of help, could you please assign me this one? I'm also going to comment on the few other ones where I can provide my assistance.

[2020-09-29 19:49] wannabehacker007 commented on #27
I can offer my help here!

[2020-09-29 19:50] wannabehacker007 commented on #3
I think I can add more resources to the list!

[2020-09-29 19:51] wannabehacker007 commented on #16
Yeah, I think I can help you find opportunities curated for women in the US and Europe regions.

[2020-09-30 07:05] shikha-16 commented on #16
@wannabehacker007 This issue needs the most help right now. I'll assign this to you so you can start working on it immeditaely. Some of the resources mentioned are applicable abroad so do make sure you see those as well. Suggest changes to the repo accordingly!

[2020-09-30 07:06] shikha-16 commented on #3
Cool!!

[2020-10-01 04:06] lucid-dreem commented on #27
I can help out as well!

[2020-10-01 06:30] RafaelDavisH commented on #14
@shikha-16 I have sent you an invited for the Logo draft. I pickes some of the colors that were used of the Carousel.

[2020-10-01 10:31] pratheek-shett commented on #14
Ok thank you. Is the invit in github

On Thu 1 Oct, 2020, 12:00 PM Rafael D. Hernandez, <notifications@github.com>
wrote:

[2020-10-01 11:28] pratheek-shett commented on #14
Can you please tell me how can I pull request a logo

On Thu 1 Oct, 2020, 4:01 PM Pratheek Shetty, <pratheekshetty9944@gmail.com>
wrote:

[2020-10-01 11:41] umang-sinha opened #31 "Need a top navigation bar component for the website's home page"
Contributors can take a look at the wireframe for the homepage [here](https://raw.githubusercontent.com/shikha-16/Women-in-Technology/website/website%20wireframes/Home%20page.png).
Also, the top navigation bar needs to have dropdowns which appear when the user hovers over each of the items in the navigation bar. This is how it should look: [dropdowns](https://raw.githubusercontent.com/shikha-16/Wo

[2020-10-01 11:45] ReddyAnanya9 commented on #31
@umang-sinha I would like to work on this issue.

[2020-10-01 11:47] umang-sinha commented on #31
@ReddyAnanya9 go ahead! Thanks for deciding to contribute.

[2020-10-01 11:51] umang-sinha opened #32 "Need a carousel for the website's homepage"
The homepage has a carousel that will be displayed right below the top navigation bar. Contributors may take a look at the wireframe for the website [here](https://raw.githubusercontent.com/shikha-16/Women-in-Technology/website/website%20wireframes/Home%20page.png)

[2020-10-01 11:54] umang-sinha commented on #31
@ReddyAnanya9 an empty gatsby project has already been initialized in the 'website' branch. Please make sure you make your contributions there itself.

[2020-10-01 11:56] ReddyAnanya9 commented on #31
@umang-sinha  Thank you for informing.

[2020-10-01 12:06] umang-sinha opened #33 "Need footer and top navigation components for all website pages."
Contributors may take a look at the wireframe for the website's homepage [here](https://github.com/shikha-16/Women-in-Technology/tree/master/documents/wireframes)
Please implement the footer and top navigation as mentioned in the wireframe. Also, add a button that takes the user back to the top of the page when clicked.

[2020-10-01 12:10] RidhikGovind commented on #32
Hey I could make a carousel. Could you assign this to me ?

[2020-10-01 12:11] qwerty-rgb commented on #33
I can do it please issue me the task

[2020-10-01 12:13] chinmaikaveti2001 commented on #32
hi! sir can u please assign this issue to me..?
I want to work on this....

[2020-10-01 12:26] ReddyAnanya9 commented on #31
@umang-sinha May I know if there is are any deadlines for the task and how can I contact you?

[2020-10-01 12:31] umang-sinha commented on #31
@ReddyAnanya9 it would be great if you can finish this within the next 1-2 days.
You can join our discord server to contact me.
Here is the invite link: https://discord.gg/7PvCSu

[2020-10-01 12:32] ReddyAnanya9 commented on #31
@umang-sinha Okay. Thank you

[2020-10-01 12:59] shikha-16 commented on #14
@pratheek-shett please stop commenting on this issue. I have already said it has been assigned to someone else, and it does not concern you.

[2020-10-01 13:01] shikha-16 commented on #33
@qwerty-rgb sure.
I expect you to go through Cpntributing.md and follow all instructions there for further communication. Thank you.

[2020-10-01 13:03] shikha-16 commented on #32
@RidhikGovind @chinmaikaveti2001 yes, you both can do this. you can decide if one of you wants it, you want to do it together, otherwise we will pick the one we like most.
PLease go through Contributing.md and follow it for further communication. Thank you.

[2020-10-01 14:29] RidhikGovind commented on #32
@shikha-16 So sorry for the removal of your assignment. I just think @chinmaikaveti2001 would be more suitable than me since I am a beginner. But thank you so much for providing me an opportunity for selecting me and Good luck !

[2020-10-01 14:36] shikha-16 commented on #32
@RidhikGovind no problem, please do contribute in other issues if you can!

[2020-10-01 19:02] qwerty-rgb commented on #33
#35 pr request generated

[2020-10-02 07:49] umang-sinha commented on #33
@qwerty-rgb There are a few changes that are required. I have put up a comment in the pull request thread. Please take a look.

[2020-10-02 10:13] qwerty-rgb commented on #33
#37

[2020-10-02 15:46] shikha-16 commented on #32
@chinmaikaveti2001 ?? Please join discord grp

[2020-10-02 22:52] RafaelDavisH opened #39 "WIT Favicion"
**Is your feature request related to a problem? Please describe.**
After creating the WIT Logo, a favicon its also necessary for the Website design

**Describe the solution you'd like**
used the WIT logo to create the favicon

**Describe alternatives you've considered**
I used an online favicon converter - `favicon.io`. The alternative can manually recreate the favicon.

**Additional context**

[2020-10-03 04:52] shikha-16 commented on #32
@RidhikGovind , @chinmaikaveti2001 hasn't been responding for a while now, any chance you're still willing to take this up?

[2020-10-03 04:53] #39 closed

[2020-10-03 04:53] #14 closed

[2020-10-03 05:42] chinmaikaveti2001 commented on #32
yes....@shiksha-16

[2020-10-03 06:45] chinmaikaveti2001 commented on #32
@shikha-16  ... I  want to work on this issue ....but  can u pls  help me to find the way  to work on it

[2020-10-03 06:46] chinmaikaveti2001 commented on #32
Because , i'm an absolute begineer to this open source contributions

[2020-10-03 09:39] shikha-16 commented on #24
@tory-brown we need graphic designers for the website, please message if you are willing to take something up

[2020-10-03 09:40] shikha-16 commented on #31
@ReddyAnanya9 any updates on this?
Please join the discord server and introduce yourself

[2020-10-03 09:41] shikha-16 commented on #32
Please join the discord server @chinmaikaveti2001 , we can talk there
https://discord.gg/xvzbAXk

[2020-10-03 14:38] shikha-16 opened #43 "Infographics for various topics"
We need infographics to be put on the website for the topics in

The World of CS
which has

- [x] 10 domains
- [ ]  Computer Science Theory
- [ ] Systems Theory
- [ ] Computer Applications
- [x] Software Engineering

and

Learn by Doing
which has

- [x] Competitive Programming
- [x] Open Source Projects
- [x] Front-End Development
- [x] Back-end Development
- [x] Machine Learning and AI
- [ ] Data

[2020-10-03 14:39] #15 closed

[2020-10-03 14:39] #24 closed

[2020-10-03 14:42] #31 closed

[2020-10-03 15:15] Honoratss commented on #43
Hi, this is my first time using github repo. I would like you to know that I will pick the option 1, The  World of CS. And I would like to ask some few questions.

1. Where can I get the details for this topic?
2. What concept design would you like?
3. When do you need it?

[2020-10-03 15:40] shikha-16 commented on #43
HI! @Honoratss thank you for deciding to contribute. All the content is available on the [Readme}(https://github.com/shikha-16/Women-in-Technology/blob/master/README.md), you will use this info for the infographic.

You are free to use anything that will suit the information. You might even have to make 2-3 if there is a lot of info present.

I would like this to be done by October 7th.

[2020-10-03 15:44] shikha-16 commented on #43
In the world of CS there are a lot of subtopics

- [ ] 10 domains

- [ ]  Computer Science Theory

- [ ] Systems Theory

- [ ] Computer Applications

- [ ] Software Engineering

You can choose any 2 of these, for before October 7th. Please let me know if the deadline is okay?

[2020-10-03 16:52] Honoratss commented on #43
Hi,

I'm sorry but I can't make it on Oct 7. School here will start soon. I was
thinking if you could make it to mid-October if that is alright?

Honorato Tulagan

On Sat, Oct 3, 2020, 11:45 PM Shikha Bhat <notifications@github.com> wrote:

[2020-10-03 17:36] arvind-iyer-2001 commented on #43
Hey @shikha-16
I will take up the 10 Domains, Web Development, IoT, ML & AI Part to include in the Infographics Section.
A preferable target would be the 12th of October if that would be good with you.
Arvind Iyer,
BITS Goa

[2020-10-04 07:16] qwerty-rgb commented on #32
@shikha-16 i have worked on your repo before and one of my pr is in pending so if there is no problem i can take up the issue
And if so please assign me the task

[2020-10-04 07:18] qwerty-rgb commented on #33
can u tell me what is wrong with pr so i can resolve as resolving would be much easy

[2020-10-04 12:53] shikha-16 commented on #43
Great! Yup, 12th is good.

[2020-10-04 12:54] shikha-16 commented on #43
Okay, 12th October. Please pick two topics.

[2020-10-04 12:54] shikha-16 commented on #32
Yes sure

[2020-10-04 13:15] Honoratss commented on #43
In the Github or I'll tell you here?

If I can tell here, I'm going to change to learn by doing, hackatons.

On Sun, Oct 4, 2020, 8:54 PM Shikha Bhat <notifications@github.com> wrote:

Honorato Tulagan

[2020-10-04 13:15] Honoratss commented on #43
Do I need to research about it or are you giving me details for this?

Honorato Tulagan

On Sun, Oct 4, 2020, 9:14 PM Honorato O. Tulagan <honoratotulagan@gmail.com>
wrote:

[2020-10-04 14:14] arvind-iyer-2001 commented on #43
Research would be needed,
* Get optimal images with proper sourcing
* For Domains of CS / Learn by Doing - We need to collect good courses to learn that particular skill and list them
* Get images like Road Maps to learn a particular Skill, can be sourced from people who recommend these roadmaps
* Good Structured Content about the section with recommended Tips - Check Out Articles on Medium.com or

[2020-10-05 05:14] shikha-16 commented on #43
As I said, most of the content is available on [Readme](https://github.com/shikha-16/Women-in-Technology/blob/master/README.md#The-World-of-Computer-Science)

[2020-10-06 05:53] shikha-16 opened #45 "Repo of the month"
Want a repo-of-the-month section where you link a really cool repo that visitors can explore. I would want this both on the repo and on discord. You have to change it every month. I feel like it would keep the repo and discord community active and engaging.

Whoever wants to contribute HAS to comment here AND join the [Discord](https://discord.com/invite/xvzbAXk) server to communicate.  Please als

[2020-10-06 06:04] qwerty-rgb commented on #45
So can i do it

[2020-10-06 06:06] qwerty-rgb commented on #45
I think i will able to make as i have worked beforehand on this repo and will make it using react in codesandbox. If possible share a wireframe like what would be your preference for styling and the content :)

[2020-10-06 06:14] shikha-16 commented on #45
@qwerty-rgb you have been assigned 2 issues already. please deliver there first. have you joined the discord channel? please do. we urgently need the navigation header and footer components that you have been assigned. the pr is not mergeable. for further communication please join discord: [here](https://discord.com/invite/xvzbAXk). Me and @umang-sinha would like to talk to you about everything. a

[2020-10-06 06:51] sanskritisukkal commented on #43
I can contribute to either of the 2 topics above. Lmk which two and also the design/layout of it. I suppose I have to take the content from the readme? and I would be able to provide it by oct 15 or so

[2020-10-06 07:37] shikha-16 commented on #43
@sanskritisukkal
You can take up front-end development. The others are mostly taken, so you can take up Computer science theory/ Cybersecurity/ Data Science. Yes, all the content is available on the readme, so don't worry. October 15th is good.

[2020-10-06 07:37] shikha-16 commented on #43
@arvind-iyer-2001 you are taking up back-end development right

[2020-10-06 08:04] qwerty-rgb commented on #32
I am unable to push the code can someone help me or send some documentation that how can i push the code. Its really very irritating when u have done the thing and cannot push the code to the repo

[2020-10-06 08:18] shikha-16 commented on #32
@umang-sinha please look into this

[2020-10-06 08:21] RafaelDavisH commented on #32
@qwerty-rgb if you forked this Repo and then cloned it.  Then after create a branch through your terminal ‘git checkout -b website’.   After do ‘git pull origin website’ —

[2020-10-06 08:21] shikha-16 commented on #33
@qwerty-rgb he has made a comment in the PR thread please see there.
Also, looks like you have made only the footer? can you also make the top navigation component?

[2020-10-06 08:22] shikha-16 commented on #32
we have addressed it, please look properly

[2020-10-06 09:40] qwerty-rgb commented on #32
i did both of that but then also git push is denying access.

[2020-10-06 10:20] qwerty-rgb commented on #32
Error :(
![git](https://user-images.githubusercontent.com/58263441/95189501-909f4c80-07eb-11eb-91c2-b43651b4993c.PNG)

[2020-10-06 11:12] qwerty-rgb commented on #32
#46

[2020-10-06 11:23] qwerty-rgb commented on #45
I did the carousel issue so can i take up this issue as well and yes i join the discord community so where can i talk on the server to you guys

[2020-10-06 12:55] umang-sinha commented on #32
@qwerty-rgb  you need to push changes to the repository that you forked from the original repository. You are unable to push code into it because you do not own the repository.

[2020-10-06 13:42] qwerty-rgb commented on #32
thanks @umang-sinha #47

[2020-10-06 17:47] qwerty-rgb commented on #33
#48

[2020-10-06 17:48] qwerty-rgb commented on #45
I also did the navbar issue

[2020-10-07 02:49] PeppermintNDaisies commented on #45
Hello! I would like to help with this issue, do you have designs for this screen?

[2020-10-07 02:54] PeppermintNDaisies commented on #16
Hello! I stumbled upon [this event](https://www.womenwhocode.com/boston/events), hope it helps!

[2020-10-07 02:56] PeppermintNDaisies commented on #27
I can help too! What do you guys need?

[2020-10-07 08:32] qwerty-rgb commented on #33
#52

[2020-10-07 08:33] qwerty-rgb commented on #32
#52

[2020-10-10 05:22] shikha-16 commented on #45
Hi @PeppermintNDaisies , no we do not. Would you like to take up this whole task? You'll have the freedom to design it as whatever you like. Please go through Contributing.md first though. We would need you to join the Discord server.

[2020-10-10 05:33] shikha-16 commented on #27
Hi! Please join the discord server so we can talk there! @PeppermintNDaisies

[2020-10-10 05:34] shikha-16 opened #53 "Need footer and top navigation components for all website pages."
Contributors may take a look at the wireframe for the website's homepage [here](https://github.com/shikha-16/Women-in-Technology/tree/master/documents/wireframes) and the basic structure using gatsby and react.js [here](https://github.com/shikha-16/Women-in-Technology/tree/master/women-in-tech-website)
Please implement the footer and top navigation as mentioned in the wireframe. Also, add a button

[2020-10-10 05:35] #33 closed

[2020-10-10 05:35] #32 closed

[2020-10-10 05:36] shikha-16 opened #54 "Carousel components"
The pages have a carousel that will be displayed right below the top navigation bar. Contributors may take a look at the wireframe for the website [here](https://raw.githubusercontent.com/shikha-16/Women-in-Technology/website/website%20wireframes/Home%20page.png) and the website basic skeleton [here](https://github.com/shikha-16/Women-in-Technology/tree/master/women-in-tech-website).

The carousel

[2020-10-10 06:00] ddaniss commented on #54
I'd like to do it, is it ok if I use CSS?

[2020-10-10 06:41] shikha-16 commented on #54
yes @ddaniss, you can use CSS. Using react will make it easier for you, but that's your call!

We have some carousels designs ready so you could use those. PR will be made today for those. Meanwhile, here's the Figma link. [1](https://www.figma.com/file/B8WeO6ifqCdtRM6oXakqjW/WIT-Home-Page-2?node-id=0%3A1) and [2](https://www.figma.com/file/Vhyx8liScLBFjmSwRhqwon/WIT-Home-Page). The description wi

[2020-10-10 09:57] umang-sinha opened #55 "Home Page for the website"
Contributors interested in working on the home page for the website can take up this issue. You can have a look at the wireframes [here](https://www.figma.com/file/ctvCXdOEfS0U1xMEbLXQZY/Women-in-Technology-Wireframes?node-id=41%3A357).

The homepage needs to have the following components:
- top navigation bar (the top nav bar needs to have dropdowns. Please refer the wireframes and build accordin

[2020-10-10 10:04] umang-sinha opened #56 "Scholarships page for the website"
Contributors interested in working on the scholarships page can take up this issue. You can have a look at the wireframes [here](https://www.figma.com/file/ctvCXdOEfS0U1xMEbLXQZY/Women-in-Technology-Wireframes?node-id=59%3A31).

The scholarships page needs to have the following components:
- top navigation bar (the top nav bar needs to have dropdowns. Please refer the wireframes and build accordin

[2020-10-10 10:11] umang-sinha opened #57 "Contribution page for the website"
Contributors interested in working on the contributions page can take up this issue. You can have a look at the wireframes [here](https://www.figma.com/file/ctvCXdOEfS0U1xMEbLXQZY/Women-in-Technology-Wireframes?node-id=13%3A13).

The contributions page needs to have the following components:
- top navigation bar (the top nav bar needs to have dropdowns. Please refer the wireframes and build accord

[2020-10-10 10:21] umang-sinha opened #58 "Resources page for the website"
Contributors interested in working on the resources page can take up this issue. You can have a look at the wireframes [here](https://www.figma.com/file/ctvCXdOEfS0U1xMEbLXQZY/Women-in-Technology-Wireframes?node-id=42%3A138).

The resources page needs to have the following components:
- top navigation bar (the top nav bar needs to have dropdowns. Please refer the wireframes and build accordingly)

[2020-10-10 10:30] greyGroot commented on #55
i would like to work on this one, @umang-sinha what do you think about adding material-ui to the project?

[2020-10-10 10:32] umang-sinha commented on #55
Yes we are planning to go with material UI

[2020-10-10 10:36] greyGroot commented on #55
please assign this issue to me.

[2020-10-10 10:37] umang-sinha commented on #55
@greyGroot I am assigning this to you. You can go ahead and start working on it.

[2020-10-10 10:59] syauqy commented on #56
Hi @umang-sinha what a great initiative! Can I on this?

[2020-10-10 11:02] umang-sinha commented on #56
Hey @syauqy thanks for deciding to contribute. I am assigning this to you. You may go ahead and start working on it.

[2020-10-10 13:19] #53 closed

[2020-10-10 13:19] shikha-16 commented on #55
@greyGroot Meanwhile, here's the Figma link. [1](https://www.figma.com/file/B8WeO6ifqCdtRM6oXakqjW/WIT-Home-Page-2?node-id=0%3A1) and [2](https://www.figma.com/file/Vhyx8liScLBFjmSwRhqwon/WIT-Home-Page). The description will be up shortly.

[2020-10-10 15:04] tory-brown commented on #58
hello @shikha-16 its brownie from the discord channel, I'm working on community page and organizations promoting WIT. I cant find the issues here to officially comment  and be assigned

[2020-10-10 15:30] shikha-16 commented on #56
Hi @syauqy I'm assuming you'll be making the figma design(or any other software) and CSS/react code both yourself?

[2020-10-10 15:43] shikha-16 commented on #55
@greyGroot , I'm emphasizing this again, you do NOT have to code for the carousels, somebody else is already working on that. Focus on the other parts and eave the carousels.

[2020-10-10 15:46] syauqy commented on #56
Hi @shikha-16 since the project only has the wireframe. I think it's better if it push to the high fidelity first. I can help you with Figma for this page as long as we have decided the design guidelines to make sure it doesn't have different style compare to other pages. And also for the react/Gatsby I think I need to wait for the main project to setup first then I can working on this page. What

[2020-10-10 16:22] tory-brown commented on #27
Can i be assigned to it

[2020-10-10 16:36] shikha-16 commented on #27
Hi @tory-brown sure.
I've assigned Inspirations and Scholarships carousels to you.

[2020-10-10 16:44] bharati-21 commented on #27
Hey @shikha-16, I can work on this as well. I can make carousels for Homepage, World of CS, and Organizations.
Thank you.

[2020-10-10 17:46] umang-sinha commented on #56
Hey @syauqy We have some people working on the website designs. In this issue you are only expected to create a basic skeleton of the page. Further enhancements will be done only once the final designs for the other pages are ready. However you can take a look at the final design for the homepage to get a rough idea : https://www.figma.com/file/B8WeO6ifqCdtRM6oXakqjW/WIT-Home-Page-2?node-id=0%3A1

[2020-10-10 17:56] umang-sinha commented on #56
Hey @syauqy We have some people working on the website designs. In this issue you are only expected to create a basic skeleton of the page. Further enhancements will be done only once the final designs for the other pages are ready. However you can take a look at the final design for the homepage to get a rough idea : https://www.figma.com/file/B8WeO6ifqCdtRM6oXakqjW/WIT-Home-Page-2?node-id=0%3A1

[2020-10-10 19:10] wannabehacker007 commented on #43
Hey Shikha! I would like to design Infographics for four of the topics which were mentioned above. Software Engineering, Competitive Programming, Cybersecurity and Open Source Projects. The Infographics for SE and CP are almost done, btw.

[2020-10-10 19:13] wannabehacker007 commented on #27
Hey there! I'd like to help out in designing the wireframes for the site on Figma. I would need editing permission to do that however!

[2020-10-10 19:58] absenteerealitycheck commented on #54
@shikha-16  is this issue still open? Bc I would love to work on it

[2020-10-11 04:39] shikha-16 commented on #27
the wireframes have already been made fully..... they are now not open to editing. If you want to help out, you can help actually design one of those pages above! @wannabehacker007

[2020-10-11 04:46] shikha-16 commented on #54
@absenteerealitycheck yes, it is open. The previous person has left.
We need codes for the carousel components that have been designed: https://github.com/shikha-16/Women-in-Technology/tree/master/documents/design/carousels . These are 3, 2 more will be uploaded soon.
I'm assigning this issue to you! Looking forward to working with you.

[2020-10-11 04:48] shikha-16 commented on #43
that's great!! Sure, I'll assign these to you.

[2020-10-11 10:52] milenagd commented on #57
Hey @shikha-16 can I take this one?

[2020-10-11 11:53] wannabehacker007 commented on #27
That was where I was getting at, actually. I can design one of the webpages for you. That's why I needed the editing permission for. I can duplicate the Figma file as well. Which page do you think is the most pressing right now?

[2020-10-11 16:58] shikha-16 commented on #27
oh, i see! sure we'll give you permission. choose any page you like.

[2020-10-11 18:02] shikha-16 commented on #57
yes, sure!

[2020-10-13 11:53] syauqy commented on #56
Hi @shikha-16 and @umang-sinha please check this video of my progress on this page https://www.loom.com/share/f5a2a981d043428387c0fd68e31425a9
I want to make sure it's enough and I can open the PR for this issue.

Here are the screenshots of my work.
Responsive
![responsive](https://ik.imagekit.io/ps3xes4nrg/WIT_responsive_-1LJAlBXlrR.png)

Desktop header
![desktop1](https://ik.imagekit.io/ps3xes4

[2020-10-13 12:01] shikha-16 commented on #54
@absenteerealitycheck i'll need you to respond and confirm?

[2020-10-13 12:07] shikha-16 commented on #56
Hi @syauqy WOW that looks great. thank you for this amazing work.
So we already have the logo and favicon ready: https://github.com/shikha-16/Women-in-Technology/tree/master/documents/logo so that's something you can add.

We also have the carousel designs ready: https://github.com/shikha-16/Women-in-Technology/tree/master/documents/design/carousels if you want to use those (it's fine if you don't

[2020-10-13 12:25] umang-sinha commented on #56
Hey @syauqy This looks perfect to me. This is exactly what we wanted. Great job! As @shikha-16 mentioned, please add the logo and favicons and then you can proceed to make a pull request.

[2020-10-13 13:01] syauqy commented on #56
Logo and favicons added
![favicon added](https://ik.imagekit.io/ps3xes4nrg/WIT_favicon_Kct2KlOvrzoY.png)
Yes, for reusable components like carousel, navbar, and footer, I think we need to work on that separately

[2020-10-13 13:06] #54 closed

[2020-10-13 13:16] syauqy commented on #56
please check my PR here #63 . Thanks @umang-sinha @shikha-16

[2020-10-13 15:20] shikha-16 commented on #56
@syauqy hi, please check out the comment on your PR

[2020-10-14 04:54] shikha-16 commented on #55
@greyGroot i need some response from you

[2020-10-14 05:12] greyGroot commented on #55
@umang-sinha I'm working on it

[2020-10-14 05:24] shikha-16 commented on #55
okay, you can refer to https://github.com/shikha-16/Women-in-Technology/issues/56 comments for the same. WE are looking for something exactly like that.

[2020-10-14 05:25] shikha-16 commented on #57
I'll need some response from you @milenagd

You can refer to https://github.com/shikha-16/Women-in-Technology/issues/56 comments for the same. We are looking for something exactly like that.

[2020-10-14 07:15] milenagd commented on #57
Yes, I will work on it :)
Ok, I will check the #56
Thank you @shikha-16

[2020-10-14 08:07] ayush015 commented on #58
@umang-sinha Can I have a look ?

[2020-10-14 08:17] #56 closed

[2020-10-14 08:18] shikha-16 commented on #58
@ayush015 yes, so we're looking for something like #56 comments, please check that out, and confirm.

[2020-10-14 09:47] kritikaparmar-programmer commented on #45
Hey @shikha-16 I'm a first timer here and willing to contribute. Can you help me.

[2020-10-14 11:44] shikha-16 commented on #56
@syauqy maybe you would like to take up another page on the website? we really liked your work, and hope you can contribute more.

[2020-10-14 14:34] syauqy commented on #56
Hi @shikha-16 thank you for the offer. Sure, but I think I cannot do it fast. Since I'm only able to work on it on the weekend. Let's see

[2020-10-14 17:14] greyGroot commented on #55
@shikha-16 as i see in pr #63 he was using bootstrap, but i thought want to add Material-UI. So what approach should i use?

[2020-10-14 17:31] syauqy commented on #55
Hi @greyGroot @shikha-16 thanks for mention the issue. Personally, I think we need to decide the framework and I'm okay if we want to use material UI or any css framework.

I was only focused on the skeleton of my page. But since the main components like navbar, carousel, and footer are missing, I took faster approach to work around that using bootstrap.

I'm happy to work on the update if we use

[2020-10-14 17:39] greyGroot commented on #55
@syauqy thank you for your contribution and happy to see that you ready to make update.

personally, i love to work with react material ui, but we can go with bootstrap, because Navigation, Footer and Carousel is ready.

[2020-10-14 20:44] milenagd commented on #55
Personally, I prefer material ui as well.
I will wait for the decision to start working in the contribution page.

[2020-10-15 02:17] umang-sinha commented on #55
Instead of getting into the hassle of updating #63 with material ui we should just proceed with bootstrap to make progress faster.

[2020-10-15 14:11] greyGroot commented on #55
@umang-sinha there is small inconsistency in design of "Founder" block:

this option is from figma, home-page:
<img width="532" alt="Screenshot 2020-10-15 at 17 06 49" src="https://user-images.githubusercontent.com/41450089/96140756-f20c9d00-0f08-11eb-9d85-12f850c8edc6.png">

and this one from Community page:
<img width="522" alt="Screenshot 2020-10-15 at 17 07 00" src="https://user-images.githubu

[2020-10-15 14:14] greyGroot commented on #55
@shikha-16 regarding carousel. @syauqy implemented main carousel, but we also have smaller one with cards, like here:

<img width="525" alt="Screenshot 2020-10-15 at 17 13 52" src="https://user-images.githubusercontent.com/41450089/96141609-d9e94d80-0f09-11eb-9a24-73ced68d39fb.png">

and here:

<img width="513" alt="Screenshot 2020-10-15 at 17 14 02" src="https://user-images.githubusercontent.com/

[2020-10-15 14:20] shikha-16 commented on #55
@greyGroot nobody is working on those. Can you please implement it? You can use the code made by him as reference!

[2020-10-17 16:02] umang-sinha commented on #58
@ayush015 please let us know if you are working on this

[2020-10-17 16:03] umang-sinha commented on #57
hey @milenagd any updates on this one?

[2020-10-17 16:04] umang-sinha commented on #55
hey @greyGroot any updates on the issue?

[2020-10-17 16:19] umang-sinha opened #67 "Inspirations page for the website"
Contributors interested in working on the inspirations page can take up this issue. You can have a look at the wireframes [here](https://www.figma.com/file/ctvCXdOEfS0U1xMEbLXQZY/Women-in-Technology-Wireframes?node-id=42%3A138).

The inspirations page needs to have the following components:
- top navigation bar (the top nav bar needs to have dropdowns. Please refer the wireframes and build accordi

[2020-10-17 16:22] umang-sinha opened #68 "Organizations page for the website"
Contributors interested in working on the organizations page can take up this issue. You can have a look at the wireframes [here](https://www.figma.com/file/ctvCXdOEfS0U1xMEbLXQZY/Women-in-Technology-Wireframes?node-id=42%3A138).

The organizations page needs to have the following components:
- top navigation bar (the top nav bar needs to have dropdowns. Please refer the wireframes and build accor

[2020-10-17 16:27] umang-sinha opened #69 "Community page for the website"
Contributors interested in working on the community page can take up this issue. You can have a look at the wireframes [here](https://www.figma.com/file/ctvCXdOEfS0U1xMEbLXQZY/Women-in-Technology-Wireframes?node-id=42%3A138).

The community page needs to have the following components:
- top navigation bar (the top nav bar needs to have dropdowns. Please refer the wireframes and build accordingly)

[2020-10-17 16:30] umang-sinha opened #70 "World of CS page for the website"
Contributors interested in working on the World of CS page can take up this issue. You can have a look at the wireframes [here](https://www.figma.com/file/ctvCXdOEfS0U1xMEbLXQZY/Women-in-Technology-Wireframes?node-id=42%3A138).

The World of CS page needs to have the following components:
- top navigation bar (the top nav bar needs to have dropdowns. Please refer the wireframes and build according

[2020-10-17 18:06] ayush015 commented on #58
@umang-sinha Yeah I'm on it.

[2020-10-18 02:19] PeppermintNDaisies commented on #45
I would love to! @shikha-16 I joined the discord server but I'm not sure where to start or ask about this

[2020-10-18 02:26] PeppermintNDaisies commented on #53
Hello @shikha-16 do you still need this components?

[2020-10-18 04:51] shikha-16 commented on #45
No, there aren't any wireframes. First maybe we'll implement it in the repo itself? Then we can add it to the website later if it works. You can start by googling how to implement a 'of the month' section.....
Otherwise you can volunteer to manually change that section up every month.

 If you're taking this issue up, you have to do some research for it too. Find some great repos to feature here!

[2020-10-18 04:52] shikha-16 commented on #45
Hi, please go through the comments in this issue. If you have any questions, pm me on discord.

[2020-10-18 04:52] shikha-16 commented on #53
No, we do not

[2020-10-18 15:30] talhaabbasi commented on #69
Hi, can I work on this?

[2020-10-18 15:33] umang-sinha commented on #69
@talhaabbasi yeah sure! Go ahead.

[2020-10-18 17:21] greyGroot commented on #55
@umang-sinha i was busy last few days, but now i'm working on it. it's in progress.

Have you made a decision regarding "About Founder" block?

[2020-10-19 01:56] PeppermintNDaisies commented on #45
Got it! I would love to have this assigned for every month then! I'll start by sending a PR for it here, where on discord should it be placed?

[2020-10-19 03:58] PeppermintNDaisies commented on #45
@shikha-16 I created a PR with a first approach of the Repo of the Month section in this repo, what do you think?

[2020-10-19 04:07] qwerty-rgb commented on #70
can i take up this issue

[2020-10-19 16:03] umang-sinha commented on #55
yes please go ahead with the one on the home page

[2020-10-19 17:22] greyGroot commented on #55
@umang-sinha i'm working on carousel for cards, and i'm facing some troubles.

Here how it looks at the moment: https://youtu.be/z6_7aDI8xVE

On a design we have only one control on the right side. If user will click it, he should see next 4 cards, right?
How many slides there should be? Or how many cards in total?
If user will click on the right control, how he will be able to turn back to the fi

[2020-10-19 17:31] greyGroot commented on #55
And as i see, there should be less cards on one slide on smaller screens, right?

[2020-10-20 16:16] umang-sinha commented on #55
I guess that is an inconsistency that was missed while making the wireframes. To tackle this lets enable horizontal scrolling in those slides. When the users scrolls down they will move towards the rightmost slide and vice versa.
Regarding the total number of slides, I don't think I have a fixed number in mind. That depends on the amount of content we have to display. For now just create 6-7 slide

[2020-10-20 16:17] umang-sinha commented on #55
Yes. Try to make it responsive to smaller screens using media query or any other means

[2020-10-20 16:56] greyGroot commented on #55
@umang-sinha ok, then i will add control on the left side of slider. will reduce amount of cards according to table size.

[2020-10-20 19:15] milenagd commented on #57
Sorry, I did not have time these days. I am working on it now

[2020-10-22 06:46] #45 closed

[2020-10-22 06:47] shikha-16 commented on #45
@PeppermintNDaisies good job! I will expect you to update this regularly every month!

[2020-10-22 06:48] shikha-16 commented on #70
@qwerty-rgb you can, but please makes ure you're following our style guidelines and make it accessible and clean like #56 . Go through all the guidelines first.

[2020-10-22 06:49] shikha-16 commented on #55
@greyGroot updates? when will you be done by?

[2020-10-22 08:12] greyGroot commented on #55
@shikha-16 i will have time to work on this one only on the weekends

[2020-10-22 08:16] shikha-16 commented on #55
Please set a deadline so that you are motivated to work, and we have something to work with as well.

[2020-10-22 14:10] PeppermintNDaisies commented on #45
Oh! Thanks for merging!! I will!! I'll set up a reminder to do the research, write something and make the PR! Thanks againg for the trust!

[2020-10-22 14:46] shikha-16 commented on #58
Updates? Please set a deadline for yourself too.

[2020-10-23 14:48] #57 closed

[2020-10-24 14:52] Hina-softwareEngineer commented on #68
Hi, I am Hina. I want to work on this issue. Can you please assign it to me?

[2020-10-24 15:43] umang-sinha commented on #68
Yes @Hina-softwareEngineer please go ahead. I am assigning this to you.

[2020-10-24 23:35] ayush015 commented on #58
hey @shikha-16 I have been very busy lately . I have started the project but due my work i'm not able to complete it . So if you want to assign it someone else its completely fine .
Thanks

[2020-10-25 00:36] tory-brown commented on #67
I've seen the wire frames, thought someone was already working on it, if its still open i can take it

[2020-10-25 02:11] umang-sinha commented on #67
@tory-brown I am assigning this to you. Please go ahead.

[2020-10-25 08:15] tory-brown commented on #67
On it.

[2020-10-25 13:08] Hina-softwareEngineer commented on #68
Hi, I have done with the organization page. Can you please take a look? Here is my PR [#73 ](https://github.com/shikha-16/Women-in-Technology/pull/73)

[2020-10-25 15:50] umang-sinha commented on #68
Hey @Hina-softwareEngineer Everything looks fine to me. Please post a screenshot or a short video displaying how the page looks and we will be good to go.

[2020-10-25 17:02] Hina-softwareEngineer commented on #68
That's great. Sure. If there is any kind of problem you see. Tell me, I will resolve it. 😄😄

![wominInTech](https://user-images.githubusercontent.com/56507951/97113485-8a2a3380-170c-11eb-8a98-159e08885210.png)

[2020-10-26 06:37] umang-sinha commented on #68
@Hina-softwareEngineer  The 'scroll to top' button is missing in the footer. Please refer to https://github.com/shikha-16/Women-in-Technology/issues/56#issuecomment-707687777 and implement the same.

[2020-10-26 14:20] Hina-softwareEngineer commented on #68
Hey, The 'scroll to top' button is not missing. Actually My screenshot extension is unable to capture it. Here is the image capture by laptop screenshot software.
![z1](https://user-images.githubusercontent.com/56507951/97182878-e51c6300-17be-11eb-8a0b-7c08c79f9f02.png)
and here is mobile responsive. the scroll to top is not showing in the below image due to screenshot extension
![mobile res](http

[2020-10-27 04:06] umang-sinha commented on #68
Great job @Hina-softwareEngineer ! Thanks for contributing.

[2020-10-27 04:06] #68 closed

[2020-10-28 19:03] Hina-softwareEngineer commented on #58
Hi, I am Hina, I want to work on this issue. Can you please assign this to me?

[2020-10-29 09:31] umang-sinha commented on #58
yes @Hina-softwareEngineer please go ahead. I am assigning this to you

[2020-10-30 07:49] talhaabbasi commented on #69
@umang-sinha Please review :)

[2020-11-01 09:56] #69 closed

[2020-11-01 09:58] #55 closed

[2020-11-01 09:59] shikha-16 commented on #70
@qwerty-rgb are you working on this???

[2020-11-01 11:23] qwerty-rgb commented on #70
i am working i will make the pr by tomorrow because my paper are ongoing.
hope u understand

[2020-11-01 17:37] shikha-16 commented on #70
okay, please finish it as soon as possible

[2020-11-03 04:59] Hina-softwareEngineer commented on #58
Hi all, I have done this. Please take a look : [#80](https://github.com/shikha-16/Women-in-Technology/pull/80)

[2020-11-04 05:08] umang-sinha commented on #58
thanks for contributing @Hina-softwareEngineer

[2020-11-04 05:08] #58 closed

[2020-11-06 19:16] umang-sinha commented on #70
@qwerty-rgb any updates?

[2020-11-08 09:36] prishison commented on #67
Hello, I would like to take up the issue

[2020-11-15 06:08] shikha-16 commented on #70
@qwerty-rgb ????

[2020-11-15 06:08] shikha-16 commented on #43
@sanskritisukkal @Honoratss @arvind-iyer-2001 where are your contributions?

[2020-11-15 06:09] shikha-16 commented on #16
@wannabehacker007 any updates??

[2020-11-16 17:25] webdevknow99 commented on #70
do you any idea about the "References
Books" page

[2020-11-16 19:35] shikha-16 commented on #70
Do you mean Resources?

[2020-11-17 06:57] webdevknow99 commented on #70
No, about page

[2020-11-21 04:25] webdevknow99 commented on #70
index page is empty
so any idea about structure?
and give me the symbol of women-in-Techonolgy

[2020-11-21 16:03] #67 closed

[2020-11-21 18:20] shikha-16 commented on #70
@webdevknow99 we don't really understand what you're saying... maybe join the discord group and talk to us there, it will be easier to communicate.

[2021-02-01 07:58] shikha-16 commented on #45
hey @peppermint-juli please update

[2021-03-14 03:18] itssingh opened #88 "Add Myntra HackerRamp: WeForShe"
Myntra has launched HackerRamp: WeForShe this year. This is an opportunity for all women coders from engineering colleges across the country to create and innovate through technology.

[2021-03-14 06:35] shikha-16 commented on #88
Hi! Would you like to add info for this on the README? Unfortunately, this year's registrations have closed but you can add it so that people can look out for it next year!

[2021-03-17 07:17] #88 closed

[2021-03-24 23:00] musk101 opened #90 "link incorrect"
The link for she++ program is not correct

[2021-03-25 08:59] shikha-16 commented on #90
@musk101 would you like to correct it? I will assign this issue to you

[2021-03-30 10:19] #90 closed

[2021-05-16 05:24] #70 closed

[2021-05-16 05:24] #43 closed

[2021-05-16 05:25] #27 closed

[2021-05-16 13:57] Victorybrown commented on #16
What kind of resources are we looking for?

[2021-05-17 08:25] shikha-16 commented on #16
Any scholarship/mentorship programs or women in tech centric events abroad!

[2021-06-07 17:24] shikha-16 opened #91 "Events/Programs section in website"
![image](https://user-images.githubusercontent.com/68149849/121062783-25c36c80-c7e3-11eb-9bdc-11fbbb0b0a8a.png)

I want a page in the website in the 'Resources' section for these as well. Please go through the code and comment here if you are willing to contribute. Thanks! :)
Website - https://women-in-technology-wit.web.app/

[2021-06-07 17:30] shikha-16 opened #92 "Make carousel clickable"
![image](https://user-images.githubusercontent.com/68149849/121063454-f06b4e80-c7e3-11eb-8333-09aefe47f130.png)

This 'See More' button should redirect to a link - https://github.com/ossu/computer-science

[2021-06-07 17:34] shikha-16 opened #93 "Inspirations Page Design"
![image](https://user-images.githubusercontent.com/68149849/121064016-afc00500-c7e4-11eb-9d5a-c478a40d4a80.png)
Would like to change the design to something like this.

[2021-06-07 17:43] shikha-16 opened #94 "Add extra slide with logo in homepage carousel"
![image](https://user-images.githubusercontent.com/68149849/121065068-f82bf280-c7e5-11eb-81bc-7fa3b583d3cf.png)
Add this slide to homepage carousel

[2021-06-07 17:48] shikha-16 opened #95 "Make Community page responsive"
https://women-in-technology-wit.web.app/community This page isn't currently responsive on phones.

[2021-06-08 12:49] rishkwal commented on #91
Hey, I can work on this

[2021-06-08 19:01] shikha-16 commented on #91
Go ahead, I am assigning you! Join the discord server to communicate.

[2021-06-11 06:26] pratishtha-abrol commented on #94
Hi, can I take this up?

[2021-06-11 17:03] shikha-16 commented on #94
Yes sure!! I'm assigning you. Join the discord server to communicate.

[2021-06-12 17:06] shikha-16 opened #96 "Make some parts of the website responsive"
-starting text
![image](https://user-images.githubusercontent.com/68149849/121783782-3c483a00-cbce-11eb-9ca3-d6b9bf4b3864.png)

-testimonials
![image](https://user-images.githubusercontent.com/68149849/121783821-79143100-cbce-11eb-935a-9a86d4c16a7a.png)

-footer
![image](https://user-images.githubusercontent.com/68149849/121783786-41a58480-cbce-11eb-860a-005a4bd6bb20.png)

[2021-06-12 17:07] #95 closed

[2021-06-15 04:25] pratishtha-abrol commented on #92
I think I can do this, can I take this up?

[2021-06-15 08:27] shikha-16 commented on #92
Yeah sure! @pratishtha-abrol I'm assigning you. If possible, please make a clearer images as well for the carousels.

[2021-06-15 08:35] pratishtha-abrol commented on #92
Okay sure! I'll try improving the quality, also should I make them all the same size?

[2021-06-15 09:47] #94 closed

[2021-06-15 10:46] shikha-16 commented on #92
Yeah! The carousels are available separately in the documents folder. You can take from there.

[2021-06-16 15:13] shefali12-ab commented on #93
Hey, i am willing to work on this, i  can design this webpage just like that in above image or if you want any changes i can implement it. looking forward for your reply.

[2021-06-16 16:34] shikha-16 commented on #93
Hey @shefali12-ab that would be great! I'll assign this issue to you. Please join the discord channel for further interaction. Thanks :)

[2021-06-16 17:12] shefali12-ab commented on #93
thank you for assigning me, yeah sure will join.

[2021-06-22 09:32] #92 closed

[2021-06-23 21:11] Sonakshi1901 commented on #96
I am willing to take up this task. Can u give it to me?

[2021-06-25 07:59] shikha-16 commented on #96
yess sure @Sonakshi1901

[2021-06-29 17:37] dineshkumar12004 opened #100 "Website up button link in README.md is returning 404 page not found error"
website up button link is not working. Check the path of the url and update it.  Added a screenshot below

![image](https://user-images.githubusercontent.com/67814205/123842704-b4349500-d92e-11eb-9f5a-8b74972d02c0.png)

[2021-06-29 18:38] dineshkumar12004 commented on #100
made a PR fixing the link 👍

[2021-06-30 14:26] #100 closed

[2021-07-11 15:28] shefali12-ab commented on #93
Hey, shikha I am working on this issue , I have encountered a issue on changing the size of image it is showing a following error
Access to internal resource at 'file:///C:/Users/Lenovo/Desktop/Women-in-Technology/website/public/%PUBLIC_URL%/manifest.json' from origin 'null' has been blocked by CORS policy: Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-e

[2021-07-11 18:16] nehakalbande commented on #93
Hey @shefali12-ab please do checkout inspirational component. Since inline css is done for resizing the image.

And its json problem.. Please do dm me.. if issue not resolved.

[2021-07-11 19:09] shefali12-ab commented on #93
okay i will try to resolve it, if i will face issue further i will contact you.
thank you.

[2021-07-15 17:59] shefali12-ab commented on #93
Hey @nehakalbande where should i connect with you. I need to discuss about this problem.

[2021-07-15 18:11] nehakalbande commented on #93
Hi @shefali12-ab Dm me on discord.. :)

[2021-07-16 11:53] Sonakshi1901 commented on #5
Hey Shikha! I would want to add "Harvard WE Code" and write about it in the 'Organizations to Promote Women in Tech' section of the Readme file.
Link: https://www.harvardwecode.com/

[2021-07-18 05:03] shreyshreyansh opened #105 "Carousel Card button styling looks odd"
![before](https://user-images.githubusercontent.com/53744971/126056382-b2501a0a-0cc8-45fd-9de9-e9e7ef3c5406.png)

[2021-07-18 09:12] #105 closed

[2021-07-21 05:40] shreyshreyansh opened #107 "Scroll to top button can be improved"

[2021-07-21 08:59] #107 closed

[2021-07-22 14:19] shikha-16 commented on #5
@Sonakshi1901 Yes sure! Please make a PR

[2021-07-22 14:27] shikha-16 commented on #93
Hi @shefali12-ab has it been resolved? You are working on this right?

[2021-07-22 14:40] shefali12-ab commented on #93
Hii @shikha-16 yes the issue is resolved now as i am not using any live server that's why that issue is coming.
I have basically designed upto carasoule 1 and for adding slider i am learning that part soon i will update you.
Thanks.

[2021-07-22 19:35] Sonakshi1901 opened #110 "Adding Harvard WECode to the Readme file"
A short description of Harvard WECode in the 'Organizations to Promote Women in Tech' section of the Readme file.

[2021-07-22 19:35] Sonakshi1901 commented on #110
I am taking up this issue.

[2021-07-23 10:16] nehakalbande opened #111 "Remaining Links in the Events Page"

[2021-07-24 08:42] #91 closed

[2021-07-30 16:38] janvi01 commented on #111
can i take up this issue?

[2021-07-30 21:01] ranjan-vaidya opened #115 "footer links color change"
I want to change the color of footer links. Can I do it?

[2021-08-03 13:19] shikha-16 commented on #115
Sure, to what colour would you want to change it?

[2021-08-03 13:20] shikha-16 commented on #111
Yes please go ahead! @janvi01

[2021-08-03 16:38] #111 closed

[2021-08-04 18:45] ranjan-vaidya commented on #115
About us , contact us links doesn't looks good in grey . I want to change it in black color.

[2021-08-19 02:23] Biswa-bob opened #117 "Addition of scroll to top button"
**Is your feature request related to a problem? Please describe.**
Adding a scroll to top button

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about t

[2021-08-20 05:24] shreyshreyansh opened #119 "Add padding to the content"
The content of the guideline page looks odd as there is no padding

![Screenshot 2021-08-20 103100](https://user-images.githubusercontent.com/53744971/130183696-7c9a91c7-ad28-4d68-a3ee-698058c15c64.png)

[2021-08-21 07:17] #119 closed

[2021-08-25 13:06] Simranjakhodia opened #123 "Dark Mode Feature in the website & addition of fav-icon components in navbar"
**Is your feature request related to a problem? Please describe.**
UI-Dark Mode
![WIT_1](https://user-images.githubusercontent.com/54627904/130795668-5049c3ae-6639-4066-a819-4a4bcd32cda4.png)
![WIT_2](https://user-images.githubusercontent.com/54627904/130795708-b3d7cbfb-7d2c-4375-838e-332e7b059282.png)
![WIT_3](https://user-images.githubusercontent.com/54627904/130795750-605d4e6c-470b-49f7-838b-05

[2021-08-25 16:11] nehakalbande commented on #117
Hi @Biswa-bob Please do check PR #122

[2021-08-28 13:57] shefali12-ab commented on #93
Hii, @shikha-16 I am working on it, I will send you snapshot on discord of whatever I have done.

[2021-08-29 05:15] shreyshreyansh opened #126 "Logo of the website"
Logo of the website on the navbar do not have any padding

![Screenshot 2021-08-29 104333](https://user-images.githubusercontent.com/53744971/131239346-d2c55611-a598-45e3-b5d2-e15e6b17b396.png)

[2021-08-29 10:12] #126 closed

[2021-08-29 13:13] shefali12-ab commented on #93
Hey, @shikha-16 I have ended you screenshot please check my message on discord

[2021-08-31 15:19] shikha-16 opened #128 "right align text in footer"
![image](https://user-images.githubusercontent.com/68149849/131529864-fcb3ed48-09c9-4a00-8b2f-377179e6ba58.png)

'Quick links' should be right aligned

[2021-08-31 15:21] shikha-16 opened #129 "Add spacing between text and image"
![image](https://user-images.githubusercontent.com/68149849/131530143-9a87c2c6-4192-4774-9b95-a596ce4e5049.png)

Add spacing between text and image in the Organizations page

[2021-08-31 15:23] shikha-16 opened #130 "Events Page"
![image](https://user-images.githubusercontent.com/68149849/131530402-fb148a2a-b6c1-4864-a62a-286e055e050f.png)

Update events according to the repository README, and add descriptions to each event in both the website and repo.

[2021-08-31 15:24] shikha-16 opened #131 "Make all links in the website open on a new tab"
Make all the links in the website (that go out of the Women in Tech website) open on a new tab

[2021-08-31 15:25] shikha-16 opened #132 "Fix grammar issues on website"
Go through the website and fix grammar issues: capitalization, punctuation and grammar.

[2021-08-31 15:27] shikha-16 opened #133 "Make a carousel for infographics, instead of a whole page"
![image](https://user-images.githubusercontent.com/68149849/131532116-ea04c9f3-167d-4971-b927-994956c1d2f4.png)

Create a new page under 'Resources' tab called 'Study Resources'. Put all the links of 'Explore CS' (shown in image) in this page with clear descriptions of each, and at the bottom of this page, create a carousel for the pdfs on the 'Infographics' page.
Subsequently delete the  'Explore

[2021-08-31 15:28] shikha-16 opened #134 "Create new image carousel component for homepage."
Create new image carousel component for homepage, with clearer images and better design.

[2021-08-31 15:31] shikha-16 opened #135 "Make all fonts, images and alignments in the website consistent."
Make all font themes and sizes as well as image sizes in the website consistent, across all pages.

[2021-08-31 15:36] shikha-16 opened #136 "Implement themes for website"
Implement colour themes for website. Dark mode should be there.

[2021-09-01 17:41] #123 closed

[2021-09-02 18:39] #132 closed

[2021-09-02 18:40] #129 closed

[2021-09-02 18:46] shikha-16 opened #139 "Remake as cards"
Remake all the entries in 'Articles & Blogs' and 'Github Repositories to Star' and 'Infographics' as cards in 3 different sections of the Other Resources page. (And delete the existing things)
![Screenshot from 2021-09-03 00-12-39](https://user-images.githubusercontent.com/68149849/131899423-dd0e85d7-128f-4f8d-8f8f-d4730d2833ab.png)
![Screenshot from 2021-09-03 00-15-14](https://user-images.github

[2021-09-02 18:48] #133 closed

[2021-09-02 18:50] shikha-16 opened #140 "Merge the Beginners and Guidelines pages"
![Screenshot from 2021-09-03 00-20-14](https://user-images.githubusercontent.com/68149849/131900042-ac4c2e6b-c336-4981-b351-d713d73209d7.png)
Transfer this content to the 'Guidelines' page at the bottom of page.

[2021-09-02 18:52] shikha-16 opened #141 "Link text on repository to text on website"
I want to know if its possible to link the repo and website contents. If I make changes in the repo README, I want it to automatically update on the website.

[2021-09-03 13:11] shefali12-ab commented on #93
Hii @shikha-16 please check your discord (inbox) I have ended you screenrecording of the work that I have done.

[2021-09-08 04:31] shreyshreyansh opened #142 "a tag Link color not changing according to dark mode"
![Screenshot-2021-09-08-095425](https://user-images.githubusercontent.com/53744971/132446816-8af2cd48-7528-43a7-a7aa-b92583cedde6.jpg)

[2021-09-08 05:15] shikha-16 commented on #136
A fix is still needed dor dark mode as well.
the background of text should be dark grey, header should be black (not orange) and text colour should be white (unlike the Organizations page right now)
please attach screenshots after doing these.

[2021-09-13 09:26] shikha-16 opened #145 "Subscribe to Newsletter section on homepage"
Create a subscribe to newsletter section on the homepage, before the values and vision.
![Screenshot_2021-09-13-14-53-10-524_com.android.chrome.jpg](https://user-images.githubusercontent.com/68149849/133058996-a6206eae-e9a2-49fb-a121-e6566ac8dca7.jpg)

It should look something like this and should be in accordance with our theme. Please make sure to put the SheGazette logo there and lead to the sa

[2021-09-20 13:09] #117 closed

[2021-09-22 03:14] nayabatir1 commented on #141
Hi @shikha-16 may I help

[2021-09-22 07:35] shikha-16 commented on #141
yeah sure. please join the discord channel and we can connect there!

[2021-09-22 17:01] nayabatir1 commented on #141
@shikha-16 can share an invite

[2021-09-24 04:01] shikha-16 commented on #141
@nayabatir1 https://discord.com/invite/j9eM73g7hH

[2021-09-24 19:19] AKSHATNEMA commented on #128
Hi @shikha-16, I want to take up this issue. Kindly assign it to me and I will take this issue under hacktoberfest.
Rest solutions for this issue will be conveyed to you soon on discord.

[2021-09-24 19:21] AKSHATNEMA commented on #135
@shikha-16, will you please elaborate in what way and where you want to make the images, text, fonts consistent over the website?

[2021-09-25 07:06] sungod12 commented on #131
Hello @shikha-16 ,I can solve this issue, and get back to you as soon as possible. So kindly assign me this issue. Thanks.

[2021-09-25 07:10] shikha-16 commented on #131
Alright, great! Please join the discord community for further communication, thanks!

[2021-09-25 07:13] shikha-16 commented on #135
Hi, I can elaborate more over a call maybe. Please join the discord community so i can let you know exactly what I want. Thanks!

[2021-09-25 07:18] AKSHATNEMA opened #146 "Proper spacing between the logo and title of website on navbar"
**Is your feature request related to a problem? Please describe.**
The logo and title in the navbar are getting too much close to each other and also they are sticking towards the left in the window.

**Describe the solution you'd like**
It can easily be solved by providing proper margins and padding to both icon and title in the navbar. It may happen that mobile view has to be resolved according

[2021-09-25 09:51] nehakalbande opened #147 "Add Given Sites In the Events/Programs Page"
- Alexa Student Influencers
- WomenTechmakers Ambassador
- Google Developer Student Clubs
- Microsoft Student Learn Ambassadors Program
- MLH Fellowship
- Github Campus Expert

[2021-09-25 13:18] Jayita10 commented on #147
Hi, Please assign this issue to me so that I can work on this

[2021-09-25 13:56] jarosipatricia commented on #145
Hey, please could you assign this issue to me? I would like to work on it.

[2021-09-26 05:27] sungod12 opened #149 "Remove warnings for unused imports"
Description-
Whenever the website is served on localhost for testing, there are lot of warnings for unused imports . Appropriate screenshot has been shared with @nehakalbande on discord.

Solution-
If you want to still use those imports at a later time without the need to remember where they were being used, all unused imports can be stored in txt file with appropriate path names above each import

[2021-09-27 04:55] shikha-16 commented on #146
Okay @AKSHATNEMA please go ahead!

[2021-09-27 04:59] shikha-16 commented on #147
@Jayita10 when you're on this, can you also work on #130
Iwilladdign them both to you and you can make separate PRs for them as well.

[2021-09-27 05:00] shikha-16 commented on #145
okay sure!

[2021-09-27 05:17] Jayita10 commented on #147
Okay sure :)

[2021-09-27 05:22] shikha-16 commented on #149
Okay @sungod12 go ahead!

[2021-09-27 05:22] shikha-16 commented on #147
Can you please comment on #130  so that I can assign it to you

[2021-09-27 05:23] shikha-16 commented on #142
@shreyshreyansh are you working on this?

[2021-09-27 05:29] Jayita10 commented on #130
Will work on this issue

[2021-09-27 07:11] sungod12 opened #150 "change href attribute having value="#" to button"
**Description.**
Whenever console is opened, lot of warnings are generated by react to change href attribute to valid value i.e, link which can be navigated to.

**Describe the solution you'd like**
All those href's, as suggested by react, can be changed to button with same styling as a tag.

**Additional context**
This is the screenshot which shows warnings more clearly.
![image](https://user-ima

[2021-09-27 07:19] #150 closed

[2021-09-27 16:19] jarosipatricia commented on #145
Thanks @shikha-16 ! Can you send an invitation for discord so we can discuss there specifically how and where you envision this section?

[2021-09-27 16:58] shikha-16 commented on #145
Hi, yeah sure here!
https://discord.gg/j9eM73g7hH

[2021-09-28 08:15] madhhuurrii opened #151 "Issue related to Image loading time"
Problem :
At times when loading the website it is observed that images are taking time to get load  in mobile view.

Solution :
May be we can use imgbot for better optimization of images which can help in compressing the images whenever added to the repository. Instead of relying on other compressing tools, Imgbot can do it automatically.  Thus the image loading time can get reduced considerably!

[2021-09-28 09:39] nehakalbande commented on #151
Hi @madhhuurrii Yes, the images take time to load.  Imgbot is a good idea.
One more solution is to change all images into svg, loading time will get reduce.

[2021-09-28 09:55] madhhuurrii commented on #151
Yes @nehakalbande we can consider svgs too, but if contributors add in png format we might have to manually change the format I guess

[2021-09-28 11:27] nehakalbande commented on #151
Correct, Will you work on it?

[2021-09-28 16:23] madhhuurrii commented on #151
I guess I cannot add the img bot through PR , instead can add it directly in the repository. If possible I'll look into it and create a PR

[2021-09-28 16:42] nehakalbande commented on #151
If you are able to add a PR over this issue. Please do let us know :)

[2021-09-28 17:13] nayabatir1 commented on #139
may I help

[2021-09-29 22:22] aexcode commented on #142
Hello! If the original assignee is no longer working on this, I would love to help out!

[2021-09-30 17:37] nehakalbande opened #152 "Reduce Images width in Organizations , Scholarships Page"

[2021-09-30 17:37] ruchika-01p commented on #152
May i work on this?

[2021-09-30 17:38] nehakalbande opened #153 "Need WIT logo in Footer"

[2021-09-30 17:38] ruchika-01p commented on #153
Hey i want to work on this

[2021-09-30 17:38] nehakalbande opened #154 "In Dark Mode Contribution guidelines links arent visible"

[2021-09-30 17:39] ruchika-01p commented on #154
Please assign this to me i want to work on this

[2021-09-30 17:40] nehakalbande opened #155 "Events/ Programs Links in Dark Mode"

[2021-09-30 17:42] nehakalbande commented on #152
Sure @ruchika-01p Assigning to you :)

[2021-09-30 17:43] nehakalbande commented on #153
Assigning to you :)

[2021-09-30 17:43] nehakalbande commented on #154
Yes @ruchika-01p Assigning to you :)

[2021-09-30 17:54] madhhuurrii commented on #151
I tried reading some documentation of ImgBot, it can be only added by someone who has access to this repository. So I can not make PR for this issue.

[2021-09-30 17:57] nehakalbande commented on #151
Okay, no worries :)

[2021-09-30 17:58] #151 closed

[2021-09-30 18:37] AKSHATNEMA commented on #152
@nehakalbande, this issue has already been raise in issue #135, and I am already working on it. Kindly check it.

[2021-09-30 18:45] nehakalbande commented on #152
Yup, Work on it @AKSHATNEMA Reduce Images width

[2021-09-30 18:45] #152 closed

[2021-09-30 22:48] zainbinfurqan commented on #155
Hi, Can I contribute ?

[2021-10-01 02:33] priyansh71 commented on #140
Should the Beginner's page link from the Navbar be removed then? If yes, assign this issue to me, I'd like to work on it.

[2021-10-01 04:32] nehakalbande commented on #155
Hi @zainbinfurqan I'm doing this issue.. Please have a look at other issues as well to work on :)

[2021-10-01 09:07] sungod12 commented on #149
Hi @nehakalbande ,unable to add pull request

[2021-10-01 09:10] nehakalbande commented on #149
What's the error?

[2021-10-01 09:15] sungod12 commented on #149
actually O referenced the issue here, but I cannot seem to add pull request from the repo I forked as when I try to open a new pull request, it shows like this 👇
![image](https://user-images.githubusercontent.com/55348832/135596124-11cdf342-a3f7-46bc-9e62-dcaee61ef7ea.png)

[2021-10-01 09:26] nehakalbande commented on #149
We haven't accepted your previous PR yet, that's why this issue has occurred . We'll accept the PR by tonight

[2021-10-01 09:32] sungod12 commented on #149
Oh okay !. I thought about that in first place. Thanks for confirmation.

[2021-10-01 09:50] sungod12 commented on #141
Hi @shikha-16 ,can you clarify the issue a little more. Are you referring to readme.md on your repo. If yes, I cannot find where it is used in your website?

[2021-10-01 14:24] Jayita10 commented on #147
I have update the readme. What else need to be updated?

[2021-10-02 05:59] nehakalbande commented on #147
Hi @Jayita10 need this links in the Events/Programs page of website too

[2021-10-02 06:09] Jayita10 commented on #147
Hi @nehakalbande, I am not able to find the location of Events/Programs page. Will you please help me 😕

[2021-10-02 06:19] nehakalbande commented on #147
website/src/pages/events.js

[2021-10-02 09:50] sungod12 commented on #142
Hi @shikha-16 @nehakalbande, if nobody is working on this issue. Can I work on it?

[2021-10-02 09:58] shreyshreyansh commented on #142
Sorry I am currently busy in my college placements.. So I won't be able to work on this issue

[2021-10-02 11:39] sungod12 commented on #142
I am working on this issue .So could anyone of you assign me this issue, if anyone is not working @nehakalbande @shikha-16 .

[2021-10-02 12:40] shikha-16 commented on #141
Hey, please message me on discord and we could find a time to talk about this in more detail!

[2021-10-02 12:47] shikha-16 commented on #140
Yes, and its contents to be transferred to Guidelines.
I'm assigning you

[2021-10-02 12:48] shikha-16 commented on #152
@ruchika-01p please note the change above, sorry for the inconvenience. You are welcome to take up any other issue!

[2021-10-02 12:51] shikha-16 commented on #139
Yes sure, please connect with me on discord as I would like to talk to you about this in more detail.

[2021-10-02 12:54] nayabatir1 commented on #141
Please provide provide some more time.
I'm affected by flood 😔. Not possible to work for couple of days.

[2021-10-02 12:57] shikha-16 commented on #141
Oh, okay sure @nayabatir1. Take care!

[2021-10-02 12:58] shikha-16 commented on #141
@sungod12 let this issue stay with @nayabatir1 for now. Thanks!

[2021-10-02 13:07] #146 closed

[2021-10-02 13:32] shikha-16 opened #162 "Make the community page responsive on mobile"

[2021-10-02 13:36] #162 closed

[2021-10-02 13:37] #147 closed

[2021-10-02 13:43] shikha-16 opened #164 "Make the contribution guidelines page responsive on mobile"

[2021-10-02 13:46] shikha-16 opened #165 "Fix the About Community Page in Dark Mode"
![image](https://user-images.githubusercontent.com/68149849/135719067-0c832f5b-0dd3-44d2-b903-e99696ff832f.png)

Update this page and all its cards to appear in dark mode properly.

[2021-10-02 13:46] nehakalbande opened #166 "In Home only one component should be visible at a time"
For reference, See the Home Page of this site : https://bolt.global/

[2021-10-02 13:47] swapnil604 commented on #165
I'd love to work on it. If you think I'm eligible kindly assign.

[2021-10-02 13:48] logicalahara commented on #134
I can help you with carousel redesign, but I'll require some help  for designing images

[2021-10-02 14:24] nehakalbande commented on #165
Yes sure @swapnil604 Work on it

[2021-10-02 14:25] #164 closed

[2021-10-02 15:36] shikha-16 commented on #134
The main job would be to create the images @logicalahara , this is a graphic design issue. If you can make the images on your own I will assign this to you. Please let me know.

[2021-10-02 16:52] logicalahara commented on #134
4 images to design but using the current carousel on site. Is that right ?

[2021-10-02 17:58] logicalahara commented on #134
I'm on it, please give me some light on key elements to include in design

[2021-10-02 18:18] shikha-16 commented on #134
Yeah, kind of. We could get on a call to discuss this, please join the discord!

[2021-10-02 18:34] #149 closed

[2021-10-02 18:34] madhhuurrii commented on #139
Hi @shikha-16, I would like to work on this issue if it is available!

[2021-10-02 19:16] shikha-16 commented on #139
Okay, I am assigning you to this @madhhuurrii
@nayabatir1 the other issue is already assigned to you and waiting so giving this one to Madhuri.

[2021-10-02 19:18] #128 closed

[2021-10-02 19:20] manavg005 commented on #166
I am interested in making this please elaborate more.

[2021-10-02 19:20] manavg005 commented on #166
/assign

[2021-10-02 19:21] madhhuurrii commented on #139
@shikha-16 I wanted some clarification regarding the idea, should the "Study Resource" Page contain all the 4 section as it is or else should design and place them in a card?

[2021-10-02 19:26] shikha-16 commented on #139
so, make 4 different sections on the Study Resources page. The contents of each section should be placed in cards. And please make the cards attractive to look at as well!

[2021-10-03 06:33] priyansh71 commented on #140
I've made a [pull request](https://github.com/shikha-16/Women-in-Technology/pull/171) regarding the same. Please, have a look at it.

[2021-10-04 05:40] optimm commented on #131
Hey @shikha-16 is this issue still there , i would like to solve

[2021-10-04 06:06] sungod12 commented on #131
it's solved. Check above it is already merged. Sorry bro.

[2021-10-04 09:34] #155 closed

[2021-10-04 09:35] nehakalbande opened #172 "Make Events/ Programs Page Links as cards"

[2021-10-04 10:15] priyansh71 commented on #140
Can this issue be closed now?

[2021-10-04 10:17] #140 closed

[2021-10-04 12:41] Jayita10 commented on #130
Do I need to add description for all the events or the first 7 as mention here?

[2021-10-04 16:21] #172 closed

[2021-10-04 16:22] shikha-16 commented on #130
all events @Jayita10

[2021-10-04 16:57] #153 closed

[2021-10-04 16:57] #136 closed

[2021-10-04 16:58] nehakalbande commented on #154
@ruchika-01p The issue is resolved :)

[2021-10-04 16:59] #154 closed

[2021-10-04 17:30] sungod12 opened #179 "Issues in carousel"
Description-
-The first image in carousel appears left aligned and smaller than other images, which appears not good when that image comes after sliding through each image.
-Also the button are technically not visible because of white background, even though the carousel is automatic.
-The images size appear kind of zoomed out due to which they look blurry.

Suggested Solution-
-I observed that du

[2021-10-05 02:07] priyansh71 commented on #179
I can make a pull request fixing the first two points of the issue.
For solving the "Good quality images" issue, does the project require different better quality images, or a better version of the same images?

[2021-10-05 03:31] sungod12 commented on #179
better version of same images.

[2021-10-05 04:20] sungod12 commented on #179
actually i was going to work on this issue .

[2021-10-06 06:28] shikha-16 commented on #179
This issue is already there #314
closing

[2021-10-06 06:28] #179 closed

[2021-10-07 10:27] #142 closed

[2021-10-08 15:09] shikha-16 commented on #139
Hey, this looks good! So I want all 4 sections to have the same layout. I like the cards in 'Articles' and 'github repos', so I would want that type for all 4 sections. Just one change though, can you make the cards such that there are 2 cards in a row, for all the 4 sections? And make sure the cards are properly spaced and center aligned.
Also put the heading 'Infographics' in the last section.

[2021-10-08 16:12] madhhuurrii commented on #139
Okay! will do this changes

[2021-10-08 20:11] madhhuurrii commented on #139
Hii @shikha-16 ,  Have a look at this layout
I felt like the Explore CS section is good now if I try to make that as a card, It might look more monotonous page.
![studyresource](https://user-images.githubusercontent.com/64744084/136619184-94c26b32-ef55-4828-840b-4f4f502eb9f7.png)

[2021-10-10 05:10] shikha-16 commented on #166
Hi @manavg005 please join discord server to talk more about this! Invite is in the README

[2021-10-10 18:05] #135 closed

[2021-10-13 05:10] Hina-softwareEngineer opened #187 "Reducing size of social icons and add space between them"
**Is your feature request related to a problem? Please describe.**
The social Icons size of LinkedIn and github is too large and one has border-radius and one doesn't have which is a bad UX practice. Also, Both Icons have no space in-between.

**Describe the solution you'd like**
Social Icons width and height can be reduced and add padding to both Icons with a good border-radius.

**Additional con

[2021-10-13 05:11] Hina-softwareEngineer commented on #187
Also Can I work on this issue ?

[2021-10-13 08:28] Bhawna147 opened #188 "Change UI of Events / Programs"
Events and programs should be displayed in the table I want to make its UI something like this SS

![image](https://user-images.githubusercontent.com/79100530/137095979-401df23a-de0e-4a55-8889-81cb20af8dd8.png)

Also, the arrow key will let users know more about a particular event
Please assign this issue to me .

[2021-10-13 17:11] Pulkit007 commented on #165
Hey Is anyone still working on it.
If this issue is free can I work on this?

[2021-10-13 17:21] Dev5902 opened #189 "Social media icons not properly aligned"
# Description
In the desktop view of the website, the alignment of social media icons in the footer section is not proper.

![image](https://user-images.githubusercontent.com/89684672/137181842-d799dc75-272e-4f40-b068-751f2450ad60.png)

I want to work on this issue.
@shikha-16 @nehakalbande Can you assign me this issue.

PS: can you add the Hacktoberfest label please.

[2021-10-13 19:23] #188 closed, assigned to nobody

[2021-10-13 19:24] #189 closed, assigned to nobody

[2021-10-13 19:25] shikha-16 commented on #187
Yes, this is a valid issue and since you opened it, I will assign it to you.

[2021-10-13 19:26] shikha-16 commented on #187
hi @Pulkit007 can you work on #166 instead?

[2021-10-13 19:29] Pulkit007 commented on #187
Okay

[2021-10-13 19:39] #187 closed, assigned to Hina-softwareEngineer

[2021-10-15 07:35] #141 closed

[2021-10-17 04:40] shikha-16 commented on #165
@swapnil604 @Pulkit007 is anyone working on this?

[2021-10-17 04:42] shikha-16 commented on #130
Hi @Jayita10 are you working on this?

[2021-10-17 04:50] Jayita10 commented on #130
Hi @shikha-16, sorry for the inconvenience. As I mentioned, I struggle with the Material UI Components, as I haven't much knowledge on meterial ui and typography. It would be great if you help me out, otherwise you can unassigned me.

[2021-10-17 05:00] swapnil604 commented on #165
No, you can proceed. Apologies for not responding I have exams around the corner.

[2021-10-17 07:00] nehakalbande commented on #130
Hi @Jayita10 if you are facing a problem using Material UI Components then use p tags  , but make sure to make it responsive :)

[2021-10-30 20:41] maryanamorato opened #197 "Remove the lines above and below the founder's image"
![image](https://user-images.githubusercontent.com/49340939/139557742-218c88ff-c245-4948-8409-e985fb121fe6.png)
![image](https://user-images.githubusercontent.com/49340939/139557743-637a6afc-5086-490f-ac9b-a98b27b8c4a7.png)

Remove the lines above and below the founder's image
Path to problem: src\components\Founder\Founder.css

[2021-10-30 21:22] maryanamorato commented on #197
![image](https://user-images.githubusercontent.com/49340939/139558678-7767882a-8dd7-4484-ab10-70235972a268.png)

[2021-10-30 21:23] maryanamorato commented on #197
@nehakalbande Here is the solution. :) could you set the hackober fest label?

[2021-10-30 21:54] maryanamorato commented on #197
@shikha-16

[2021-10-30 21:55] maryanamorato commented on #3
@shikha-16 @nehakalbande #199

[2021-10-31 08:34] #197 closed

[2021-10-31 08:34] #165 closed

[2022-02-05 09:11] wasp0094 opened #200 "found a minor bug"
the font of the description for `Muses Code JS` is larger than the rest organisations listed due to some minor formatting error in the README.md file

refer to this snapshot for better understanding.
![image](https://user-images.githubusercontent.com/90551491/152635677-bd1a937f-09f4-4d6d-9188-6056e1fbe9e4.png)

[2022-02-06 12:27] #200 closed

[2022-03-02 10:28] Swetha-Kolluri opened #202 "UNDP Geospatial Data Science Internship - Deadline 7 March 2022"
#Women in STEM

Can you please circulate UNDP Internship opportunity advertised below:

https://jobs.undp.org/cj_view_job.cfm?cur_job_id=105057

https://www.linkedin.com/posts/undp-in-india_hiringnow-applynow-vacancy-activity-6904667750678294528-g5NQ